*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.work{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 0;
}
hr{
    border: 2px solid  #337ab7;
    border-radius: 5px;
    width: 100%;
    margin-left: 0;
 }

.logo ul{
    padding-top: 15px;
}
.logo ul li a{
    text-decoration: none;
    color:#404040;
   padding: 10px 15px;
   font-size: 16px;
}
.logo ul li a:hover{
    background-color:#337ab7;
    color: white;
    border-radius: 5px;
}
.move-right{
    padding-left: 60px;
 
}
.carousel-inner img{
    height: 300px;
}

.form1{
   width: 80%;
           
   margin: auto;
}
.recruiter img:hover{
    opacity: 0.5;;
}
.blue{
    color: #337ab7;
}

.fontsize-18{
    font-size: 18px;
    text-align: justify;
}
footer{
    background-color: #535455;
    min-height: 150px;
    padding: 20px;
    color: rgb(173, 169, 169);
   
}
.cform{
    background-color: #404040;
   color: white;
   padding:20px;
   border-radius: 5px;
}
.cform:hover{
    box-shadow: 10px 10px 5px lightblue;
}

.btn-right{
   position: relative;
   left: 700px;
}
.btn-right a{
    text-decoration: none;
    color: white;
}
.span-right{
   margin-left: 150px;
}
.clock{
    
}